* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --light-gray: #D0D5DA;
    --gray: #8A96A3;
    --dark-gray: #242529;
    --blue: #03ACEE;
}

#container {
    width: 100%;
    background: white;
    position: relative;
    display:flex;
    min-width:350px;
}

nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 15px 15px 10px 15px;
    border-right: solid 1px var(--light-gray);
    text-align: center;
    z-index: 99;
    background: #ffffff;
    box-shadow: -3px -5px 10px rgba(0, 0, 0, 0.3);
}

nav img {
    width: 35px;
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(171deg) brightness(95%) contrast(0%);
}

.mobile-hide {
    display: none;
}

#content {
    position: relative;
    border-right: 1px solid var(--light-gray);
    margin: 10px 0 0 0;
}

#location {
    width: 100%;
    border-bottom: solid 1px var(--light-gray);
    padding-bottom: 25px;
    margin-bottom: 25px;
}

#location img {
    width: 40%;
    min-width: 200px;
    margin: auto;
    display: block;
}

#location p {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-style: oblique;
    padding: 0 40px;
    color: var(--gray);
}

nav img:hover {
    filter: invert(7%) sepia(10%) saturate(896%) hue-rotate(190deg) brightness(0%) contrast(82%);
    cursor: pointer;
}

.feed-container {
    height: auto;
    position: relative;
    z-index: 0;

}

.feed-item-header {
    color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.profile-image {
    width: 50px;
    max-width: 4rem;
    border-radius: 50%;

}

.feed-item {
    padding-bottom: 25px;
    margin-bottom:25px;
}


.feed-item-header h3 {
    color: var(--dark-gray);
}

.feed-item-header:hover {
    color: var(--blue);
    cursor: pointer;
}

.feed-item-header h3 img {
    width: 16px;
    vertical-align: middle;
    margin-left: 5px;
}

.feed-item-header p:hover {
    color: var(--blue);
    cursor: pointer;
}

.feed-item-name {
    width: 70%;
}

.post-date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10%;
    text-align: right;
    color: var(--gray);
}

.post-date img {
    margin-left: 10px;
}

.feed-item-post {
    overflow: hidden;
    width: 100%;
    margin-bottom: 25px;
    border-bottom: solid 1px var(--light-gray);
}

.feed-item-post p {
    padding: 10px 25px;
}

.feed-item-post img {
    width:100%;
    height:100%;
    object-position: center;
    object-fit: cover;
    display: block;
}

.post-interactions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
}

.post-interactions-left {
    color: var(--gray);
    display: flex;
    align-items: center;
    width: 80%;
}

.post-interactions-left img {
    margin-right: 5px;
    display: inline-block;
}
.counts {
    margin-right: 15px;
    display:flex;
    align-items: center;
}

.hashtags {
    color: var(--blue);
    font-weight: bold;
}

.profile-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-item {
    border-radius: 4px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    width: 100%;
}

.list-item:hover {
    cursor: pointer;
    filter: saturate(0%);
}

.list-item .feed-item-name {
    position: relative;
    z-index: 10;
    background: rgba(255, 255, 255, 0.5);
    filter: invert(1);
    padding: 20px;
    width: 60%;
}

.list-item .feed-item-name h3 img {
    width: 15px;
    display: inline-block;
    margin-left: 5px;
}

.list-item-profile-image {
    z-index: 10;
    margin: 0 20px;
}

.list-item-profile-image img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 3px solid #ffffff;
    width: 150px;
    height: 150px;
}

.cover-background {
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
}


@media only screen and (min-width: 600px) {
    #container {
        max-width: 1000px;
        margin: auto;
        position: relative;
    }
    #content {
        margin: 0;
        padding-top: 25px;
        width: 90%;
        position: absolute;
        right: 0;
    }
    .feed-item-name {
        width: 80%;
    }
    nav {
        position: fixed;
        top: 0;
        display: inline;
        margin: 0 auto 2rem auto;
        padding: 35px 15px;
        text-align: center;
        width: 10%;
        max-width: 100px;
        height: 100%;
        box-shadow: none;
    }

    nav img {
        display: block;
        margin: 0 auto 2rem auto;
        width: 32px;
    }

    .mobile-hide {
        display: block;
    }
    
}

@media only screen and (min-width: 1000px) {
    .list-item {
        width: 45%;
    }

    .list-item-profile-image img {
        width: 100px;
        height: 100px;
    }
}